/*------------ELEMENTOS PADRE----------*/
header{
    margin-bottom: 20px;
}
body{
    background: #162f50;
}

/*---------------------MENU-----------------*/

nav{
    background: #b91717;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    min-height: 50px;
}
.nav-link.active{
    color: #000 !important;
    
}
nav a:hover{
    color: #000;
}
.respmenu input{
    display: none;
}
.respmenu i {
    display: none;
}
.menu a{
    text-decoration: none;
    line-height: 50px;
    color: #ffffff;
}
.menu-boton{
    text-align: center;
    color: #ffffff;
    
}
/*--------------------------------------*/
.dropdown-container{
    position: relative;
    text-align: center;
}
.dropdown-container ul{
    position: absolute;
    min-width: 200px;
    max-height: 0px;
    overflow: hidden;
    transition: all 1s;
    list-style: none;
    left: 25px;
    top: 50px;
    color: #ffffff;
    text-align: left;
    z-index: 1;
}
.dropdown-container:hover ul{
    min-width: 200px;
    max-height: 200px;
    overflow: hidden;
    text-align: left;
    background: #000000;
    
}
/*----------------MAIN-----------------*/
.row{
    margin-bottom: 20px;
}
.portada{
    position: relative;
    border-radius: 2.5%;
}
.portada img{
    width: 100%;
    height: 100%;
    border-radius: 2.5%;
    border: 1px solid #ffffff;    
}
h2{
    position: absolute;
    bottom: 0px;
    left: 25px;
    color: #ffffff;
    font-size: 15px;
}
/*--------------FOOTER------------------*/
footer .row{
    margin-top: 50px;
    margin-bottom: 5px;
    padding-top: 5px;
    color: #ffffff;
    font-style: italic;
    border-top: 1px solid #ffffff;
}
p a{
    color: #ffffff;
    font-size: 12px;
    font-style: normal;
}
/*---------------MEDIA QUERIES-----------------*/
@media (max-width: 768px){

/*---------------Menu-----------------*/

    .respmenu input{
        display: block;
        width: 20px;
        height: 20px;
    }
    .respmenu i{
        display: block;
        width: 20px;
        height: 20px;
    }
    .respmenu a{
        text-decoration: none;
        display: block;
        border: 2px solid #853434;
        border-radius: 10px;
        max-width: 320px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
    }
    .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times{
        position: absolute;
        width: 20px;
        height: 20px;
        margin-top: 5px;
    }
    .respmenu .fa-bars {
        font-size: 20px;
        pointer-events: none;
        padding-left: 1px;
    }
    .respmenu .fa-times{
        font-size: 22px;
        pointer-events: none;
        padding-left: 2px;
    }
    .respmenu input[type="checkbox"]{
        opacity: 0;
    }
    .respmenu input:checked ~ .fa-bars {
        display: none;
    }
    .respmenu input:not(:checked) ~ .fa-times {
        display: none;
    }
    .respmenu{
        position: relative;
    }
    .respmenu nav{
        display: none;
    }
    .respmenu input:checked ~ nav{
        display: block;
    }
    nav{
        background: none;
        margin-top: 5px;
    }
    nav a{
        height: 40px;
        line-height: 35px !important;
    }
    nav a:hover{
        background: #ffffff;
        transition: background-color .10s;
        color: #000;
        opacity: 0.6;
    }
    .activo{
        color: #853434 !important;
        font-weight: bold;
    }

    /*----------------------------------*/
    .portada{
        margin-top: 10px;
    }

}