.respmenu{
    min-height: 15px;
}
.ranking-img{
    min-width: 167px;
}
.ranking-img img{
    border-radius: 5px;
    border: 1px solid #ffffff;
}
.ranking-cuerpo{
    position: relative;
   
    border-bottom: 1px solid #ffffff;
}
.ranking-cuerpo p{
    color: #ffffff;
}

.ranking-puntuacion h3
/*---------------MEDIA QUERIES-----------------*/
header{
    min-height: 15px;
}
@media (max-width: 380px){
    .ranking-cuerpo{
        order: 3;
        min-width: 100%;
        padding-left: 20px;
    }
    .respmenu{
        min-height: 15px;
    }
}

