h1{
    color: #ffffff;
    text-align: center;
}
.carousel{
    color: #ffffff;
}
.carousel-inner{
    width: 100%;
}
.carousel-item a:hover{
    opacity: 0.5;
}
.carousel img{
    max-width: 100% !important;  
    max-height: 260px;
    min-height: 410px;
}

/*--------------------------------------*/
@media (max-width: 380px){
    .carousel img{
        min-height: 310px;
    }
}