.renovaciones{
    
}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}
img{
    border-radius: 5px;
    border: 1px solid #ffffff;
    margin-bottom: 20px;
    width: 260px;
    max-height: 200px;
    min-height: 200px;
}
.col a{
    position: relative;
}
.col a h3{
    position: absolute;
    font-size: 20px;
    bottom: 20px;
    color: #ffffff;
}
h5{
    color: #000;
}
span{
    color: #921515;
}